{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      description="Book your appointment with Dr. Veni Nß - VR Chest and Women Care."
    />
    <link rel="icon" href="{% static 'img/logo.png' %}" />
    <title>Book an Appointment | VR Chest and Women Care</title>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/appointment.css' %}" />

    <!-- Date Picker -->
    <link
      href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script>
      $(function () {
        $("#datePickerId").datepicker({
          minDate: 0,
          maxDate: "+1M",
          dateFormat: "yy-mm-dd",
          beforeShowDay: function (date) {
            var day = date.getDay();
            return [day != 0];
          },
        });
      });

      $(document).on("click", ".time-slot", function () {
        // Remove selected class from all buttons
        $(".time-slot").removeClass("selected");

        // Add selected class to clicked button
        $(this).addClass("selected");
      });

      $(document).ready(function () {
        $("#timeSlotsDiv").html(
          '<div class="text-muted">Please select a date to see available time slots.</div>'
        );

        $("#datePickerId").change(function () {
          var selectedDate = $(this).val();
          $.ajax({
            url: "/get_available_time_slots",
            data: {
              date: selectedDate,
              doctor: $("#doc").val(),
            },
            dataType: "json",
            beforeSend: function () {
              // Show loader
              $("#timeSlotsDiv").html(
                '<div class="spinner-border" role="status"><span class="sr-only">Loading...</span> </div>'
              );
            },
            success: function (response) {
              $("#timeSlotsDiv").empty();
              if ("message" in response) {
                // Display the custom message if present in the response
                $("#timeSlotsDiv").html(
                  '<div class="text-danger">' + response.message + "</div>"
                );
              } else {
                $.each(response, function (index, value) {
                  var slotTime = value["time_slot"];
                  var isAvailable = value["is_available"];
                  var buttonText = slotTime.toUpperCase();
                  if (buttonText.endsWith("PM")) {
                    buttonText = buttonText.replace("PM", " PM");
                  } else if (buttonText.endsWith("AM")) {
                    buttonText = buttonText.replace("AM", " AM");
                  }
                  var buttonClass = "btn btn-secondary time-slot";
                  if (!isAvailable) {
                    buttonClass += " disabled";
                  }
                  $("#timeSlotsDiv").append(
                    '<button type="button" class="' +
                      buttonClass +
                      '" value="' +
                      slotTime +
                      '">' +
                      buttonText +
                      "</button>"
                  );
                });
              }
            },
            error: function () {
              $("#timeSlotsDiv").html(
                '<div class="text-danger">Error occurred while fetching available time slots.</div>'
              );
            },
          });
        });
      });

      $(document).on("click", ".time-slot", function () {
        var selectedTimeSlot = $(this).val();
        $("#timeSlot").val(selectedTimeSlot);
      });

      $(document).on("click", "#submit", function (event) {
        var value = $("#timeSlot").val();
        if (!value) {
          event.preventDefault();
          $("#select-time-slot-message").text(
            "Please select a time slot to book your appointment."
          );
          return;
        }
      });

      $(document).ready(function () {
        $("#submit-btn").click(function (event) {
          var typeValue = $("#timeId").val();
          var typeInt = parseInt(typeValue);
          if (typeInt >= 14 && typeInt <= 16) {
            event.preventDefault();
            alert("Please enter a time outside the range 14-16.");
          }
        });
      });
    </script>

    <style>
      .time-slot {
        color: #17a2c2 !important;
        background-color: #fff !important;
        border: 1px solid #17a2c2 !important;
        margin-right: 5px;
        margin-bottom: 10px !important;
      }

      .time-slot:hover,
      .selected {
        color: #fff !important;
        background-color: #17a2c2 !important;
      }

      .disabled {
        background: #eee !important;
        opacity: 1 important;
        border: 1px solid #eee !important;
      }
    </style>
  </head>
  <body>
    {% include 'header.html' %}
    <br /><br /><br /><br /><br />
    <div class="one">
      <h1>Book appointment</h1>
    </div>
    <div class="container">
      <form action="{% url 'Appointment-confirm' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label"
            >Name <span style="color: red">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword2"
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword3" class="form-label"
            >Contact no <span style="color: red">*</span></label
          >
          <input
            type="tel"
            class="form-control"
            id="exampleInputPassword3"
            name="mobileno"
            pattern="[0-9]{10}"
            placeholder="10 digit Phone no"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address <span style="color: red">*</span></label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            name="email"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text">
            We'll contact you through mail, kindly provide a valid one.
          </div>
        </div>
        <div class="mb-3">
          <label for="datePickerId" class="form-label"
            >Date <span style="color: red">*</span></label
          >
          <input
            type="text"
            placeholder="yyyy-mm-dd"
            class="form-control"
            id="datePickerId"
            name="date"
            required
            readonly
          />
        </div>

        <div class="mb-3">
          <label for="timeId" class="form-label"
            >Time <span style="color: red" required>*</span></label
          >
          <input type="hidden" id="timeSlot" name="timeSlot" value="" />
          <div id="timeSlotsDiv"></div>
          <div id="select-time-slot-message" class="text-danger mt-2"></div>
        </div>

        <div class="mb-3">
          <label for="doctors"> Doctor <span style="color: red">*</span></label>
          <select
            class="form-select"
            aria-label="doctors"
            id="doc"
            name="doctor"
          >
            <option selected value="Dr. Veni N">Dr. Veni N</option>
          </select>
        </div>
        <button type="submit" id="submit-btn" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
    <br /><br />
  </body>
</html>
